{% extends "jinja2/layout/admin-layout.html" %}

{% block content %}
	<div class="db-content">
		<div class="row m-0">
			<div class="col py-3 px-4 head-sec">
				<h5 class="wow fadeInUp">Add Affliate</h5>
			</div>
		</div>
		<div class="row m-0 px-4 pt-2">
			<div class="col p-0">
				<form class="mt-5 add-official wow fadeInUp">
					<div class="row">
						<div class="col-lg-6 col-xs-12 col-sm-6">
							<p class="m-0">Affliate list is empty!</p>
	                    </div>
	                </div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}