@font-face {font-family: 'proxima_novabold';src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),url('../fonts/proximanova-bold-webfont.woff') format('woff');
font-weight: normal;font-style: normal;}
@font-face {font-family: 'proxima_novalight';src: url('../fonts/proximanova-light-webfont.woff2') format('woff2'),url('../fonts/proximanova-light-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'proxima_novaregular';src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),url('../fonts/proximanova-regular-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'proxima_novasemibold';src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),url('../fonts/proximanova-semibold-webfont.woff') format('woff');font-weight: normal;font-style: normal;}


$base-color: #282828;
$base-font-family:'proxima_novaregular';
$base-font-size:16px;
$theme-blue:#2d3055;
$theme-green:#98de6e;
$danger-btn:#ff0000;
$grey-bg: #eeeeee;
$white : #ffffff;
$lighter-color: #7c7c7c;

body{
    font-family: $base-font-family;
    color: $base-color;
    font-size: $base-font-size;
}

.container{
    max-width: 1170px;
    width: 100%;
}

.danger-btn{
    background: $danger-btn;
}
.blue-btn{
    background: $theme-blue;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

    &:hover{
        background: $theme-green;
    }
}
.green-btn{
    background: $theme-green;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;

    &:hover{
        background: $theme-blue;
    }
}

h3{
    font-size: 30px;
}

h4{
    font-size: 26px;
}
h5{

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a4a4a4 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a4a4a4 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a4a4a4 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a4a4a4 !important;
}

figure{
    margin: 0;
}
.white{
    color: $white;
}
.lighter-color{
    color: $lighter-color;
}

/*.toggle-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}*/

.toggle-btn{text-align: right;padding-right: 0 !important;}


.header{

    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 12;
    border-bottom: 1px solid #d1d1d1;

    .nav-link{
        color: $base-color !important;
        font-size: 15px;
        padding: 0 25px !important;
        text-transform: uppercase;
        transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;

        &:hover{
            color:$theme-green !important;
        }
    }

    @media (max-width: 991px){
        .logo {
            max-width: 170px;
        }
    }

    .header-info-area {
        ul {
            display: block;
            list-style: outside none none;
            margin: 0;
            padding: 0;

            li{
                display: inline-block;
                margin: 0 20px;
                position: relative;

                @media (max-width: 991px){
                    margin:0 10px;
                }

                @media (max-width: 480px){
                    margin:0 6px;
                }

                @media (max-width: 360px){
                    margin:0 3px;
                }

                a{
                    color: #2d3055;
                    font-size: 20px;

                    @media (max-width: 991px){
                        font-size:16px;
                    }

                    @media (max-width: 360px){
                        font-size:14px;
                    }
                }

                .badge {
                    background: #ff0000;
                    border-radius: 100%;
                    color: #ffffff;
                    font-size: 10px;
                    height: 17px;
                    line-height: 12px;
                    top: -10px;
                    position: absolute;
                    width: 17px;
                    right:-8px;

                    @media (max-width: 360px){
                        font-size: 8px;
                        height: 14px;
                        line-height: 10px;
                        width: 14px;
                        top: -5px;
                    }
                }
            }

            .dropdown-item{
                border-bottom: 1px solid #e6e6e6;
                margin: 0;
                padding: 10px;
                font-size: 14px;

                &:last-child{
                    border:none;
                }
            }
        }

        .logged-in-user {

            cursor: pointer;

            img {
                border: 2px solid #e4e4e4;
                border-radius: 100%;
                height: 50px;
                margin: 0 20px 0 0;

                @media (max-width: 991px){
                    display:none;
                }
            }
        }


        .media-left {
            float: left;
            padding-right: 15px;
            width: 55px;

            @media (max-width: 767px){
                width:35px;
            }
        }

        .media-body-custom {

            float: left;
            width: calc(100% - 55px);
            
            p{
                font-size: 14px;
                white-space: normal;
            }
        }

        .dropdown-menu{
            right: 0;
            left: auto !important;
            width: 350px;
            top:50px !important;
            transform: none !important;
            padding: 0;
            max-height: 350px;
            overflow-y: auto;
            overflow: visible !important;
            border: 1px solid #e6e6e6;

            &:after, &:before {
                bottom: 100%;
                left: 92%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #fff;
                border-width: 12px;
                margin-left: -12px;
            }

            &:before {
                border-color: rgba(230, 230, 230, 0);
                border-bottom-color: #e6e6e6;
                border-width: 13px;
                margin-left: -13px;
            }

            @media (max-width: 767px){
                width:250px;
                top: 30px !important;
            }

            @media (max-width: 340px){
                width:200px;
            }

            .media [class*="avatar-"] i {
                border: 2px solid #ffffff;
                border-radius: 100%;
                bottom: 0;
                height: 10px;
                position: absolute;
                right: 0;
                width: 10px;
            }
            .avatar{ 

                position: relative;
                border: 1px solid #bdbdbd;
                float: left;
            }

            .avatar-online{
                i{
                    background-color: #37bc9b;
                }
            }

            .avatar-busy{
                i{
                    background-color: #da4453;
                }
            }

            .avatar-away{
                i{
                    background-color: #f6bb42;
                }
            }

            .notification-icon{

                i{
                    border-radius: 100%;
                    color: #ffffff;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    width: 25px;
                }
            }

            .bg-cyan {
                background-color: #00bcd4;
            }
            .bg-danger{
                background: #ff0000;
            }
            .bg-warning{
                background: #f9a825;
            }
            .bg-success{
                background: #009688;
            }
        }



        h6 {
            color: #5d5d5d;
        }
        p {
            color: #9d9d9d;
        }

        .dropdown-toggle{

            &:after{
                display:none;
            }
        }


        .user-profile{
            .dropdown-menu{
                width: 200px;
            }
        }
    }
}

.action-btn{
    .btn{
        color:#ffffff;
    }
}

.banner{
    background: url(../images/banner.jpg) no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    -o-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;

    .banner-caption {
       /* position: absolute;
        top: 60%;
        transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        -webkit-transform: translate(0,-50%);
        left: 0;*/
        width: 100%;
        padding: 15% 0 0;

        @media (max-width: 1300px){
            padding:150px 0 0 0;
        }
    }

    h1{
        color: #ffffff;
        font-size: 100px;
        font-weight: bold;
        font-family: 'proxima_novasemibold';

        @media (max-width: 1199px){
            font-size: 70px;
        }

        @media (max-width: 1024px){
            font-size: 50px;
        }

        @media (max-width: 767px){
            font-size: 30px;
        }
    }
    p{
        color: #ffffff;
        font-size: 20px;
    }

    .search-outer {
        display: inline-block;

        .dropdown {
            display: inline-block;

            #dropdownMenuButton {
                background: $grey-bg;
                color: #464646;
                padding: 20px 20px;
                min-width: 195px;
                text-align: left;
                border-radius: 5px 0 0 5px;
                height: 82px;
                border: none;

                @media (max-width: 1024px){
                    padding: 10px;
                    height: 65px;
                }

                @media (max-width: 767px){
                    height: 50px;
                    min-width:0;
                }

                @media (max-width: 480px){
                    height: 40px;
                    font-size:12px;
                }
            }
        }
        .form-control {
            display: inline-block;
            width: 580px;
            vertical-align: top;
            padding: 27px 20px;
            height: 82px;
            border-radius: 0 5px 5px 0;
            margin: 0 0 0 -5px;
            border: none;

            @media (max-width: 1199px){
                width:350px;
            }

            @media (max-width: 1024px){
                padding: 17px 10px;
                height: 65px;
            }

            @media (max-width: 767px){
                width:auto;
                height:50px;
            }
            @media (max-width: 480px){
                font-size:12px;
                height:40px;
                padding: 5px 10px;
            }
        }
    }

    .search-btn {
        display: inline-block;

        @media (max-width: 480px){
            display: block;
            margin-top: 10px;
        }

        .green-btn {
            height: 82px;
            padding: 20px 30px;
            color: #fff;
            margin: 0 0 0 15px;
            width: 192px;

            @media (max-width: 1024px){
                padding: 10px 30px;
                height: 65px;
                width: auto;
            }

            @media (max-width: 767px){
                height: 50px;
                margin-left:0;
                padding: 5px 10px;
            }

            @media (max-width: 480px){
                height: 40px;
            }
        }
    }

    .or-opt {
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        padding: 0;
    }
    .danger-btn {
        min-width: 240px;
        height: 60px;
        color: #ffffff;
        font-weight: bold;

        @media (max-width: 991px){
            height:45px !important;
        }

        .fa-ban {
            font-size: 22px;
            position: relative;
            top: 2px;
            margin: 0 4px 0 0;
        }
    }
}

.create-account{

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        width: 32%;
        margin: 20px 0;
        font-size: 20px;

        @media (max-width:480px){
            width:100%;
            margin: 0 0 20px;
        }

        .circle {
            height: 110px;
            width: 113px;
            display: table;
            border: 3px solid $theme-green;
            border-radius: 100%;
            line-height: 110px;
            margin: 0 auto 10px;
            font-size: 30px;
            color: $theme-green;
        }
    }
    .green-btn{
        font-size: 18px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 13px 30px;
    }
}

.companies{
    background: $grey-bg;

    h3{
        color: $theme-blue;
    }

    .brand-logo{
        img {
            position: relative;
            top: 30px;
        }
    }
    .brand-col{
        background-color: #ffffff;
        margin: 0 auto;
        max-width: 360px;
        width: 100%;

        &.brand1{
                
        }

        .brand-name {
            float: left;
            padding: 40px 20px 0;
            width: 100%;
            background-image: url(../images/brand1.png);
            background-repeat: no-repeat;

            .brand-logo {
                float: left;
            }

            .brand-info {
                float: left;
                padding-left: 10px;
                text-align: left;
                width: calc(100% - 68px);
            }

            h4 {
                color: #ffffff;
                font-size: 30px;
                margin: 0;
                font-family: "proxima_novasemibold";
                margin: 0;
            }
        }
        .brand-desc {
            float: left;
            padding: 0 20px;
            text-align: left;
            width: 100%;
            p{
                line-height: 1;

                small{
                    font-size: 14px;
                    line-height: normal;
                }
            }
        }
        .view-more-btn {
            border-top: 1px solid #bebebe;
            display: table;
            margin: 0 auto;
            padding: 10px 0;
            width: calc(100% - 40px);

            .blue-btn {
                font-size: 12px;
            }
        }
    }

    .owl-nav {
        display: block !important;

        button[class*="owl-"]{
            color: #bbbbbb !important;
            font-size: 100px !important;
            line-height: normal !important;
            margin: 0 15px;
            background: transparent !important;

            @media (max-width: 767px){
                font-size: 60px !important; 
            }
        }
    }

}

.footer{
    background: $theme-blue;

    .social{
        margin: 0;

        li {
            display: inline-block;
            margin: 0 7px;

            a{
                color: $white;
                font-size: 18px;
                transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;

                &:hover{
                    color:$theme-green;
                }
            }
        }
    }
}

.custom-popup .modal-dialog{
    
    max-width: 700px;

    #formLogin {
        margin: 0 auto;
        max-width: 560px;
    }

    .form-group{

        p{
            color: #959595;
            font-size: 14px;
        }
    }

    .modal-header{
        background: $theme-blue;
        display: block;
        text-align: center;

        h4{
            color: #ffffff;
            margin: 0 auto; 
        }

        p{
            color: #ffffff;
            margin: 0;
        }
    }

    button.close{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 12px;
        color: #ffffff !important;
        opacity: 1;
    }

    input.form-control{
        height: 62px;
        font-size: 14px;
        background: #f1f1f1;

        @media (max-width: 767px){
            height:40px;
        }
    }

    #btnLogin {
        height:62px;
        text-transform: uppercase;
        font-size:20px;
        font-family: 'proxima_novabold';

        @media (max-width: 767px){
            height:40px;
        }
    }

}


.admin-dashboard{
    background: #f5f5f5;

    @media (max-width: 991px){
        min-height: 100vh;
        padding-bottom: 180px;
        position: relative;
    }
}

.after-header {
    margin-top: 83px;
}

.db-left{
    background: $theme-blue;
    width: 335px;
    margin-bottom: 60px;
    overflow: auto;

    @media (max-width: 991px){
        width: 100% !important;
        margin-bottom: 20px;
     }

     @media (min-width: 992px){
        height: calc(100vh - 202px);
     }

}

.user-photo{
    background: #3d4069;

    img{
        border-radius: 100%;
        border: 8px solid $theme-blue;
    }
}

.user-menu{
    ul {
        list-style: outside none none;
        margin: 0;
        padding: 0;

        li{
            float: left;
            width: 100%;
            transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;

            &.active{
                background: $theme-green;
            }

            &:hover{
                background:$theme-green;
            }

            a{
                color: #ffffff;
                float: left;
                padding: 18px 30px;
                width: 100%;
                text-decoration: none !important;
            }
            .fa {
                margin: 0 10px 0 0;
                font-size: 20px;
            }
        }
    }
}

.db-right {

    @media (min-width: 992px){
        padding: 60px 30px 0 45px;
    }

    .db-content{
        background: $white;
        overflow-x: hidden;
        box-shadow: 0 0 10px #dddddd;
        -o-box-shadow: 0 0 10px #dddddd;
        -moz-box-shadow: 0 0 10px #dddddd;
        -webkit-box-shadow: 0 0 10px #dddddd;

        @media (min-width: 992px){
            height: calc(100vh - 262px);
        }

        @media (max-width: 991px){
            margin-bottom: 10px;
            padding-bottom: 20px;
        }

        .head-sec{
            border-bottom: 1px solid #e3e3e3;
        }

        h5{
            font-family: 'proxima_novabold';
            color: #3d4069;
        }

        tr:nth-of-type(2n+1) {
            background-color: #ebebeb;
        }

        tr:nth-of-type(2n) {
            background-color: #d8d8d8;
        }

        th{
            background: $theme-blue;
            color: $white;
            border-right: 2px solid #ffffff;
            font-family: 'proxima_novasemibold';
            font-weight: normal;

            @media (max-width: 1200px){
                padding: 5px;
                font-size: 13px;
            }
        }
        td{
            border-right: 2px solid #ffffff;
            border-top:2px solid #ffffff;

            @media (max-width: 1200px){
                padding: 5px;
                font-size: 13px;
            }

            .action-icon{
                color: #949494;
                padding: 0 3px;
            }
        }
        .administer-prescription{
            td{

                padding-bottom: 5px;
                padding-top: 5px;
                vertical-align: middle;

                @media (min-width: 992px){

                    input.form-control {
                        border-radius: 0;
                        font-size: 14px;
                        margin: 0 auto;
                        max-width: 80%;
                    }
                    .action-icon{
                        padding: 0 10px;
                    }
                }
            }
        }
    }

    .search-mdl {
        max-width: 255px;

        @media (max-width: 991px){
            float: none !important;
            margin: 10px 0;
        }
    }
}

.add-official {
    background: #f6f6f6;
    max-width: 700px;
    padding: 30px;
    width: 100%;

    @media (max-width: 991px){
        margin-top: 20px !important;
    }

    .green-btn {
        font-weight: bold;
        padding: 18px 35px;

        @media (max-width: 991px){
            padding: 8px 15px;
        }
    }

    .form-control{
        font-size: 14px !important;
        height: 62px !important;
        color: #a4a4a4 !important;

        @media (max-width: 991px){
            height: 40px !important;
        }
    }

    textarea.form-control{
        min-height: 82px;
    }
}

.form-btn{
    .green-btn{
        padding: 10px 35px;
    }
    .blue-btn{
        padding: 10px 35px;
    }
}

#accordion{
    .card-header{
        background: $theme-blue;

        .fa{
            cursor: pointer;
        }

        h6{
            cursor: pointer;
            color: #ffffff !important;

            &:before{
                content: "\f078";
                font-family: 'FontAwesome';
                margin-right: 10px;
            }

            &.collapsed{
                &:before{
                    content: "\f077";
                    font-family: 'FontAwesome';
                }
            }
        }
    }

    .form-btn {
        background: #e8e8e8;
    }
}

.sandbox-container{
    .fa-calendar {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0px, -100%);
        -o-transform: translate(0px, -100%);
        -moz-transform: translate(0px, -100%);
        -webkit-transform: translate(0px, -100%);
    }
}

@media (min-width: 1300px){
    .main-site .footer .container-fluid {padding: 0 100px;}
    .header.site-header .container-fluid {padding: 0 100px;}
}

@media (min-width: 992px) and (max-width: 1400px){
    .header {padding: 10px 0 !important;}
    .after-header {margin-top: 70px;}
    .db-left {height: calc(100vh - 149px);margin-bottom: 20px;}
    .db-right .db-content {height: calc(100vh - 172px);}
    .user-photo {padding-top: 20px !important;}
    .user-photo img{max-height: 100px;border-width: 4px;}
    .user-menu ul li a{padding: 12px 30px;}
    .db-right {padding: 20px 20px 0;}
    .add-official {margin-top: 15px !important;}
    .add-official .form-control{height: 45px !important;}
    .add-official .green-btn{padding: 8px 25px;}
    .make-pr-inner {padding-top: 10px !important;}
}


@media (min-width: 992px){
    .toggle-btn, .desktop-hidden{display: none !important;}
}

@media (max-width: 991px){
    .navbar{padding: 0;}
    .navbar-light .navbar-toggler{border:none;}
    .navbar-nav {margin-top: 0 !important;text-align: left;}
    .header .nav-link{padding: 10px !important;}
    .header .action-btn .btn{display: none;}
    .menu-col {background: #ffffff;left: 0;position: fixed;top: 64px;width: 100%;}
    .header .action-btn{position: absolute;right: 0;}
    .adminname{display: none;}
    .make-pr-inner {padding-top: 10px !important;}
    .user-menu ul li a{padding: 12px 30px;}
    .user-photo {padding-top: 20px !important;}
    .user-photo img{max-height: 100px;border-width: 4px;}
    .add-official{padding: 10px;}
    .make-pr-inner {padding: 0 10px !important;}


    .db-left {
        left: 0;
        position: fixed;
        top:83px;

        .fa-bars {
            padding: 20px 0;
            width: 100%;
            cursor: pointer;
        }
    }

    .db-right {
        float: right;
        max-width: calc(100% - 55px);
    }

    .sidebar-closed{

        width: 55px !important;
        /*-webkit-transition: width .5s;
        transition: width .5s;*/

        .user-menu{
            a {
                font-size: 0;
                padding: 15px 10px;
                text-align: center;
            }
        }

        .sidebar-toggler {
            text-align: center;
            width: 100%;
        }

        .user-photo {
            display: none;
        }

        .fa{
            margin-right: 0 !important;
        }
    }

    .sidebar-open{
        max-width: 350px;
        top: 0;
        height: 100%;
        -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
        transition: width 1s;
        z-index: 1234;
    }

    body.add-overlay:before {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 123;
    }
    .user-menu ul li a{transition: unset !important;}
    .admin-dashboard .footer {bottom: 0;left: 0;position: absolute;width: 100%;}
}

@media (max-width:767px){

    h3{font-size: 24px;}
    .create-account ul{margin: 20px 0 0;}
}


@media (max-width:600px){
    .footer .row {display: block;text-align: center;}
    .footer .col.text-right {text-align: center !important;}
    .footer .social{margin-top: 15px !important;padding: 0;}
}